# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# SqlGoPace runtime
sqlgopace_history.db
sqlgopace_history.db-*
02.processing/
03.done/
04.failed/

# Editor/IDE
# .idea/
# .vscode/
formation/
config-local.yaml
config-local.yaml-*

# Application's logs and db
*.log
*.db